.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin-top: 10px;
    margin-bottom: 4px;

}

.screen-header__title {
    font-size: 25px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 25px;
}
.screen-header__notification2 {
    background-color: tomato;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 15px;
    bottom: 17px;
}
@keyframes rotateCog {
    from {
        transform: none;
    }

    to {
        transform: rotateZ(360deg);
    }
}

.screen-header__icons .fa-gear:hover {
    animation: rotateCog 1s linear infinite;
}